/*
	Theme Name: Properties Pathway
	Description: Properties Pathway WordPress Theme
	Version: 1.4.3
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {font-family: acumin-pro, sans-serif;color: #333;font-size: 16px;line-height: 24px;font-weight: 300;margin: 0;min-height: 100%;background-color: #fff;}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#e4802d;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #e4802d;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* header */
.header {

}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

/*** Header ***/
.nav-link.home-nav-link:hover,
.nav-link.home-nav-link:focus,
.nav-link:hover,
.nav-link:focus,
.lightbox-nav-link:hover,
.lightbox-nav-link:focus{text-decoration:none;}
.lightbox-nav-link:hover,
.lightbox-nav-link:focus{color:#fff;}
.nav-lightbox{transition: opacity 600ms, visibility 600ms;opacity:0;visibility:hidden;overflow: auto;}

/*** Footer ***/
#menu-footer-sitemap {margin: 0;padding: 0;list-style-type: none;}
#menu-footer-sitemap a {margin-bottom: 6px;-webkit-transition: color 200ms ease;transition: color 200ms ease;color: #9b9b9b;text-decoration: none;}
#menu-footer-sitemap a:hover,
.footer-address-details-div a:hover{color: #4a4a4a;text-decoration: underline;}
.footer-address-details-div a{color: #9b9b9b;text-decoration: none;}
.email-btn:hover{color:#fff;text-decoration:none;}
.social-footer-btn:hover{color: #e4802d;text-decoration: none;}
.email-signup-field {float:left;}
.email-signup-field input[type=email] {border:0;}
.email-signup-field input:required:invalid {outline: none;}
.email-btn-cntnr{display:inline-block;}

/*** Home ***/
.lightbox-link:hover,
.read-more:hover{color: #e4802d;text-decoration: none;}
.post-thumbnail-parent:hover{text-decoration: none;}
.w-lightbox-backdrop{z-index: 99999;}
.home-hero-parent{min-height: 800px;}
.featured-post-row.featured-prop-row{align-items: stretch;}
.featured-thumb{height:100%;min-height: 500px;}
.lead-cmrcl-sec{padding: 70px 0 90px;border-bottom: 1px solid #cccccc;}
.home-vdo-cntnr{margin-top: 30px;position: relative;padding-bottom: 56.25%;padding-top: 25px;height: 0;}
.home-vdo-cntnr iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.proven-track-sec{padding: 100px 0 90px;}
p.orng-txt{color: #e4802d;font-weight: 400;}
.hme-cntnct-sec{background: #333849;padding-top: 96px;padding-bottom: 95px;}
.hme-cntnct-sec h4{color:#fff;}
.hme-cntnct-sec .w-input::placeholder,
.hme-cntnct-sec textarea::placeholder,
.hme-cntnct-sec .w-input,
.hme-cntnct-sec textarea{color:#4a4a4a;opacity: 1;}
.hme-cntnct-sec .gform_wrapper input{background-color: #f7f7f8;height: 60px;margin-bottom: 12px;font-size: 14px !important;padding: 8px 12px !important;border:0;}
.hme-cntnct-sec .gform_wrapper textarea{min-height: 120px;background-color: #f7f7f8;height:210px !important;margin-bottom: 12px;font-size: 14px;border:0;}
.hme-cntnct-sec .gform_wrapper h4{color: #e4802d;}
.hme-cntnct-sec .gform_wrapper .gfield_checkbox li label{width: 100%;display: inline-block;font-weight: 300;color: #fff;font-size: 18px;line-height: 17px;top: -6px;position: relative;}
.hme-cntnct-sec .gform_wrapper .gform_footer{margin-top: 10px;}
.hme-cntnct-sec .gform_wrapper .gform_footer input[type="submit"]{width: 170px;border-radius: 5px;background: #e4802d;font-size: 16px !important;color: #fff;font-weight: 600;}
.hme-cntnct-sec .gform_wrapper .gform_footer input[type="submit"]:hover{background:#fff;color:#e4802d;border: 0;}
.home-bnr-btn{font-size: 16px;font-weight: 600;color: #fff;width: 165px;text-align: center;background: #e4802d;border-radius: 4px;padding: 8px 0;}
.home-bnr-btn i{margin-left:8px;}
.home-bnr-btn:hover{background:#fff;color:#e4802d;}
.nav-links-parent ul li.ornge-btn a{font-size: 16px;font-weight: 600;color: #fff;padding: 8px 15px;text-align: center;background: #e4802d;border-radius: 4px;}
.nav-links-parent ul li.ornge-btn a:hover{background:#fff;color:#e4802d;}
.page-template-template-home .latest-news-sec{background:#272a35;}
.page-template-template-home .latest-news-sec .caption{color:#fff;}
.lead-cmrcl-sec h1{margin-top: 0px;margin-bottom: 18px;color: #e4802d;font-size: 30px;line-height: 40px;font-weight: 300;}


/*** News & Views ***/
.blog .post-content-div1180{width:1180px;}
.blog .post-llink-cntnr{position:relative;margin-bottom:36px;}
.blog .post-llink-cntnr .post-llink{position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 99;}
.related-post-listitem{ color: #9b9b9b;font-size: 16px;font-weight: 300;list-style-type: none;margin-bottom: 7px;}
.related-post-listitem:before{content: "\f105";font-family: FontAwesome;display: inline-block;margin-left: -20px;width: 15px;color: #e4802d;}

.investment-archives .post-llink-cntnr .featured-thumb, .blog .post-llink-cntnr .featured-thumb{height:100%;min-height:280px;}

/*** Post Detail ***/
.back-to-blog-btn:hover{text-decoration: none;}
.categorie-link:hover{text-decoration: none;color:#fff;}
.large.intro p{font-weight: 600;font-size: 20px;line-height: 30px;}
.large p,
.large ul,
.large ul li{font-size: 20px;line-height: 30px;}
.related-post-listitem a{color: #9b9b9b;}
.related-post-listitem a:hover{text-decoration: none;color:#333849;}
.post-thumb{max-height: 198px;min-height: 198px;width: 100%;}
.featured-image{margin-top:0;}
.large.intro{margin-bottom: 36px;}

/*** 404 ***/
#post-404 h2,
#post-404 h3{color: #4a4a4a;text-align: center;}
#post-404 h3{font-weight:normal;}
.w-form span.wpcf7-list-item{width:100%;}
.w-form p{margin-bottom:0px;}
.w-form span.wpcf7-list-item-label{font-weight: 300;color: #9b9b9b;font-size: 16px;}
.w-form .wpcf7-form-control-wrap{display:inline-block;width:100%;}
.w-form .text-field.text-area{height: 120px;}
.w-form div.wpcf7-response-output.wpcf7-validation-errors{background-color: #ffdede;margin: 10px 0 0;padding: 10px;color: #9b9b9b;border:none;}
.w-form div.wpcf7-mail-sent-ok{border:none;background-color: #dddddd;padding: 20px;text-align: center;margin:0px;}
.w-form .wpcf7-not-valid{border:1px solid red;}
.w-form .wpcf7-not-valid-tip{display:none;}
.w-form .w-checkbox-input{margin-left:0px;}
.w-form span.wpcf7-list-item{margin-left:0px;}

/*** Contact us form ***/
#gform_24 .gform_heading,
#gform_24 label,
#gform_24 .ginput_counter,
.hme-cntnct-sec .gform_heading,
.hme-cntnct-sec .gform_wrapper .top_label .gfield_label,
.hme-cntnct-sec .ginput_counter{display:none;}
.page-template-template-contact-us .gform_wrapper,
.hme-cntnct-sec .gform_wrapper {margin-top:0;}
.gform_wrapper #gform_24  h2,
.hme-cntnct-sec .gform_wrapper h2{font-weight:300;}
#gform_24 input{background-color: #f6f6f6;border-color: #000 #000 #e4802d;border-style: none none solid;border-width: 1px;height: 60px;margin-bottom: 12px;font-size: 14px !important;padding: 8px 12px !important;}
#gform_24 textarea{min-height: 120px;background-color: #f6f6f6;border-color: #000 #000 #e4802d;border-style: none none solid;border-width: 1px;height: 60px;margin-bottom: 12px;font-size: 14px;}
#gform_24 ul li,
.hme-cntnct-sec .gform_wrapper ul li{margin-top:0px;}
.gform_wrapper  #gform_24 .top_label div.ginput_container,
.hme-cntnct-sec .gform_wrapper .top_label div.ginput_container{margin-top:0px;}
.gform_wrapper #gform_24 .gfield_checkbox li label{display:block;font-weight: 300;color: #9b9b9b;font-size: 16px;}
.gform_wrapper #gform_24 .gfield_checkbox li input,
.hme-cntnct-sec .gform_wrapper .gfield_checkbox li input{height:auto;float:left;margin-right: 7px;margin-bottom:2px;}
#gform_24 input.gform_button,
.hme-cntnct-sec input.gform_button {background-color: #fff;border: 1px solid #e4802d;border-radius: 3px;color: #e4802d;height: 60px;padding-left: 36px;padding-right: 36px;transition: background-color 200ms ease 0s;}
#gform_24 input.gform_button:hover,
.hme-cntnct-sec input.gform_button:hover{background-color: #e4802d;color: #fff;}
.gform_wrapper #gform_24 .validation_message,
.ctadiv .gform_wrapper .validation_message, .hme-cntnct-sec .gform_wrapper .validation_message{display:none;}
.ctadiv .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){max-width:100% !important}
.ctadiv .gform_wrapper div.validation_error{font-weight: 400;padding: 5px;margin-bottom: 10px;}
.gform_wrapper #gform_24 li.gfield.gfield_error,
.gform_wrapper #gform_24 li.gfield.gfield_error,
.ctadiv .gform_wrapper li.gfield.gfield_error{background-color:transparent;border:none;margin:0px;padding:0px;}
.gform_wrapper #gform_24 li.gfield.gfield_error input,
.gform_wrapper #gform_24 li.gfield.gfield_error textarea,
li.gfield.gfield_error .ginput_container_checkbox,
.hme-cntnct-sec .gform_wrapper li.gfield.gfield_error input,
.hme-cntnct-sec .gform_wrapper li.gfield.gfield_error textarea{border:1px solid red !important;}
.gform_wrapper #gform_24 div.validation_error,
.hme-cntnct-sec .gform_wrapper div.validation_error{font-weight: normal;margin-bottom:0px;border: none;background-color: #ffdede;margin-top: 10px;padding: 10px;color: #9b9b9b;font-size:16px;}
.gform_wrapper #gform_24gform_confirmation_message{background-color: #dddddd;padding: 20px;text-align: center;}
.page-template-template-contact-us .down-arrow-new{display:none;}

/*** Portfolio Page ***/
.page-template-template-portfolio .down-arrow-new,.page-template-template-faq .down-arrow-new{display:none !important;}
.email-btn{font-size: 14px;font-weight: 300;}
.footer-address-details-div p{margin-bottom:0px;}
.featured-prop-section .featured-prop-description a{color:#e4802d;}

/*** About Us ***/
.teambio-content-div.w-row {display: block;max-width: 960px;margin-right: auto;margin-left: auto;}
#our-team .w-col .w-col{padding-left: 10px;padding-right: 10px;}
.post-thumbnail-parent:focus{text-decoration:none;}
.teambio-content-div.w-row .w-col-9{font-size: 18px;line-height: 27px;}

/*** FAQ ***/
.faq-answer-parent{margin-bottom: 24px;}

.addthis_inline_share_toolbox .at-share-tbx-element .at-share-btn{background-color:#FFF !important;border:1px solid #e4802d;width:40px;height:40px;line-height: 40px;text-align: center;margin-right:12px;}

.addthis_inline_share_toolbox .at-share-tbx-element .at-icon-wrapper .at-icon{fill:#e4802d!important;width:25px !important;}

/** HOME LATEST NEWS **/
.home-latest-news {padding: 0;}

/*** Landing page ***/
.page-template-template-landing .body-header{-webkit-align-items: center;-ms-flex-align: center;align-items:center;}

/*** Landing Page V2 ***/
.page-template-template-landing-v2{background:#fff;}
.page-template-template-landing-v2 .hero-paragraph{background: transparent;color: #e4802d;font-size: 23px;line-height: 35px;font-weight: 400;margin-bottom:96px;}
.page-template-template-landing-v2 .content-wrapper-cntnr{background: #230f13;padding-top: 90px;}
.page-template-template-landing-v2 .content-wrapper-cntnr.ftr{padding-top:0;padding-bottom:90px;}
.page-template-template-landing-v2 .content-wrapper-cntnr .content-wrapper{background: #fff;height: 90px;}
.two-column-sec{background:#fff;position:relative;}
.two-column-sec:after{content:'';position:absolute;left:0px;right:0;bottom:0;width:100%;height:1px;background:#e2e2e2;max-width: 1120px;margin: 0 auto;}
.two-column-sec .post-content-div1180{padding-bottom: 36px;position:relative;}
.two-column-sec .post-content-div1180 strong{font-weight: 600;}
.page-template-template-landing-v2 h2 strong{font-weight: 500;}
.two-column-sec .w-col-4{float: right;}
.two-column-sec .img-cptn-cntnr{padding: 35px;background: #f8f8f8;}
.two-column-sec .img-cptn-cntnr h3{margin-bottom: 15px;font-weight: 500;font-size: 19px;}
.two-column-sec .img-cptn-cntnr p{font-size: 14px;margin-bottom: 0;font-weight: 500;line-height: 18px;}
.two-column-sec .img-cptn-cntnr span{font-size: 14px;color: #23262f;font-weight: 300;}
.two-column-sec li{margin-bottom: 18px;}
.page-template-template-landing-v2 .body-section{padding-bottom: 35px;padding-top: 80px;}
.full-width-column-sec{padding: 50px 0 96px;background: #fff;margin-bottom: 0;}
.full-width-column-sec p{color: #e4802d;font-weight: 600;font-size: 19px;}
.full-width-column-sec p:last-child{margin-bottom: 0;}
.full-width-column-sec p a{color: #e4802d;text-decoration:underline;}
.page-template-template-landing-v2 .hme-cntnct-sec{padding-top: 85px;}
.page-template-template-landing-v2 .contact-form-col{margin-top: 0;}

/*** SMSF Property, White Paper & Register ***/
.headerp p{font-weight: 600;color: #e4802d;}
.registernowctaphone h3{font-size: 24px;margin-top: 0px;margin-bottom: 16px;color:#000;font-weight:600;}
.ctasubmitbutton.footer{font-size:18px;}
.ctasection,
.whitesection{background:#fff;}

/*** IE Hacks ***/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {     
	.content-div1180{flex:1 0 auto;margin-left:0;}
}



/*** Media Query ***/
@media (max-width:1210px) {
	
	/*** News & Views ***/
	.blog .post-content-div1180{width:100%;padding:0 15px;}
}

@media (max-width:1199px) {
	
	/*** Home Page ***/
	.hme-cntnct-sec{padding-top: 65px;padding-bottom: 70px;}
}

@media (max-width:991px) {
	
	/*** About Us ***/
	.teambio-content-div.w-row { margin-right: 36px;margin-left: 36px;}
	
	/*** Home Page ***/
	.featured-thumb {min-height: 300px;}
	.lead-cmrcl-sec{padding: 50px 0 65px;}
	.testimonials{padding-top: 50px;padding-bottom: 60px;}
	.hme-cntnct-sec{padding-top: 45px;padding-bottom: 50px;}
}

@media (max-width: 767px) {
	.post-thumb{max-height: unset;min-height: unset;}
	
	/*** Home Page ***/
	.featured-thumb {min-height: 294px;}
	.hero-bg {width:200px !important;}
	.hero-bg.body-bg{width:200px !important;}
	.lead-cmrcl-sec{padding: 35px 0 45px;}
	.testimonials{padding-top: 35px;padding-bottom: 45px;}
	.hme-cntnct-sec{padding-top: 35px;padding-bottom: 35px;}
	
	/*** Landing page ***/
	.page-template-template-landing .body-header{padding-top:0;}
	
	.hme-cntnct-sec > div.w-row{display:flex;flex-direction: column-reverse;}		/*** Landing page V2***/	.two-column-sec .w-row > div:first-child{margin-bottom: 75px;}
}

@media (max-width:479px) {
	
	/*** Header ***/
	.lightbox-nav-link{font-size: 18px;}
	.body-header .post-categories{padding-bottom:15px;}
	
	/*** Home Page ***/
	.featured-thumb {min-height: 234px;}
	.home-hero-parent{min-height: unset;height: auto;}
	.hero-content-wrapper{margin-top: 115px;min-height: 745px;}		/*** Landing V2 page ***/	.page-template-template-landing-v2 .body-header{height:auto;}
}

body img.gform_ajax_spinner {
    display: none !important;
}